.container {
  padding: 0 5rem;
  max-width: 65rem;
  margin: auto;
}

.sectionContainer {
  display: grid;
  gap: 1rem;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 100rem;
  height: 100%;
  padding: 3rem 0;
}

.modalContainer {
  margin-top: 2rem;
}

.addPropertybtn {
  cursor: pointer;
  display: block;
  border-radius: 50%;
  width: var(--btn-width);
  height: var(--btn-width);
  color: var(--main-font-clr);
  font-size: 2rem;
  background: transparent;
  border: none;
}

.cardContainer {
  position: relative;
}

.menu {
  position: absolute;
  min-height: 3rem;
  min-width: 5rem;
  bottom: 0;
  left: var(--btn-width);
  z-index: 2;
  border: 2px solid var(--generate-btn-clr);
  border-radius: 0.3rem;
  background: var(--nav-bg-clr);
}

.menuContainer {
  --btn-width: 2.5rem;
  position: relative;
  /* overflow: hidden; */
}

.addPropertyBtn {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  border: transparent;
  cursor: pointer;
}

.addPropertyBtn:hover {
  background-color: var(--main-font-clr);
}

.card {
  justify-self: flex-start;
  min-width: 22rem;
  min-height: 20rem;
  padding: 1.5rem;
  color: var(--main-font-clr);
  border: 2px solid black;
  border-radius: 0.8rem;
}

.cardRow {
  padding: 1rem;
}

.removeBtn {
  position: relative;
  transform: translateY(-0.1rem);
  aspect-ratio: 1;
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.removeBtn:hover {
  transform: scale(1.5) translateY(-0.1rem);
}

.property {
  margin-right: 1rem;
}

.grid {
  justify-self: start;
  gap: 1rem;
  /* width: min-content; */
  justify-content: stretch;
  display: grid;
  align-items: center;
  height: 15rem;
  vertical-align: top;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: var(--create-btn-clr);
  border: transparent;
  border-radius: 0.5rem;
}

.menuBackground {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.equalColumns {
  display: flex;
  gap: 1rem;
}

.equalColumns > * {
  flex-basis: 100%;
}

.value {
  border: 1px solid black;
  padding: 0 0.2rem;
  letter-spacing: 0.05rem;
}
