.sectionContainer {
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  max-width: 100rem;
  height: 100%;
  padding: 3rem 0;
}

.addPropertybtn {
  cursor: pointer;
  display: block;
  border-radius: 50%;
  width: var(--btn-width);
  height: var(--btn-width);
  color: var(--main-font-clr);
  font-size: 2rem;
  background: transparent;
  border: none;
}

.cardContainer {
  position: relative;
}

.modal {
  position: absolute;
  min-height: 3rem;
  min-width: 5rem;
  bottom: 0;
  left: var(--btn-width);
  border: 2px solid var(--generate-btn-clr);
  border-radius: 0.3rem;
  background: var(--nav-bg-clr);
}

.modalContainer {
  --btn-width: 2.5rem;
  position: relative;
}

.addPropertyBtn {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  border: transparent;
  cursor: pointer;
}

.addPropertyBtn:hover {
  background-color: var(--main-font-clr);
}

.card {
  min-width: 22rem;
  min-height: 20rem;
  padding: 1.5rem;
  color: var(--main-font-clr);
  border: 2px solid black;
  border-radius: 0.8rem;
}

.controlsContainer {
  flex: 1 1 50%;
}

.cardRow {
  padding: 1rem;
}

.property {
  margin-right: 1rem;
}

.grid {
  justify-self: start;
  display: grid;
  align-items: center;
  height: 15rem;
  vertical-align: top;
  width: 70%;
  grid-template-rows: repeat(6, 1fr);
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: var(--create-btn-clr);
  border: transparent;
  border-radius: 0.5rem;
}
